<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNDtoON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DNDtoON.Properties.Settings>
            <setting name="Notebook" serializeAs="String">
                <value>DND Notebook</value>
            </setting>
            <setting name="OneNoteSection" serializeAs="String">
                <value>Feats</value>
            </setting>
            <setting name="BlockTemplatePageName" serializeAs="String">
                <value>Feat Block (Normal)</value>
            </setting>
            <setting name="BlockType" serializeAs="String">
                <value>feat</value>
            </setting>
            <setting name="DNDAppFileXML" serializeAs="String">
                <value>Feats.xml</value>
            </setting>
            <setting name="ElementsByName" serializeAs="String">
                <value>[list] Alert, Medic</value>
            </setting>
        </DNDtoON.Properties.Settings>
    </userSettings>
</configuration>