<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNDtoON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DNDtoON.Properties.Settings>
            <setting name="Notebook" serializeAs="String">
                <value>DND Notebook</value>
            </setting>
            <setting name="OneNoteSection" serializeAs="String">
                <value>Races</value>
            </setting>
            <setting name="BlockType" serializeAs="String">
                <value>race</value>
            </setting>
            <setting name="BestiaryFile" serializeAs="String">
                <value>Storm King's Thunder Bestiary 1.1.0.xml</value>
            </setting>
            <setting name="MonsterBlockTemplate" serializeAs="String">
                <value>Monster Block (Normal)</value>
            </setting>
            <setting name="SpellsFile" serializeAs="String">
                <value>PHB Spells 3.9.0.xml</value>
            </setting>
            <setting name="SpellBlockTemplate" serializeAs="String">
                <value>Spell Block (Normal)</value>
            </setting>
            <setting name="RacesFile" serializeAs="String">
                <value>Orc.xml</value>
            </setting>
            <setting name="RaceBlockTemplate" serializeAs="String">
                <value>Race Block (Normal)</value>
            </setting>
            <setting name="FeatsFile" serializeAs="String">
                <value>UA Feats.xml</value>
            </setting>
            <setting name="FeatBlockTemplate" serializeAs="String">
                <value>Feat Block (Normal)</value>
            </setting>
            <setting name="BackgroundsFile" serializeAs="String">
                <value>Backgrounds.xml</value>
            </setting>
            <setting name="BackgroundBlockTemplate" serializeAs="String">
                <value>Background Block (Normal)</value>
            </setting>
        </DNDtoON.Properties.Settings>
    </userSettings>
</configuration>